<h1><%= @address.street %></h1>

<ul>

  <li>streetNumber: <%= @address.streetNumber %></li>
  <li>street: <%= @address.street %></li>
  <li>suburb:<%= @address.suburb %></li>
  <li>postcode: <%= @address.postcode %></li>
  <li>state: <%= @address.state %></li>
  <li>unitNumber: <%= @address.unitNumber %></li>
  <li>streetType: <%= @address.streetType %></li>
  <li>propertyType: <%= @address.propertyType %></li>
</ul>
